@model FrontEnd.ViewModel.ConfiguracaoVM
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Arquivos/css/LeilaoStyle.css" />
    <link rel="stylesheet" type="text/css" href="~/Arquivos/css/toastr.css" />
    <link rel="stylesheet" type="text/css" href="~/Arquivos/datatables/DataTables-1.10.16/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/Arquivos/datatables/Responsive-2.2.1/css/responsive.dataTables.css" />
    <title>Login | Sistema Leilão</title>
    <script type="text/javascript" src="~/Arquivos/datatables/jQuery-3.2.1/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="~/Arquivos/datatables/DataTables-1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Arquivos/datatables/Responsive-2.2.1/js/dataTables.responsive.js"></script>
    <script type="text/javascript" src="~/Arquivos/js/toastr.js"></script>
    <script type="text/javascript" src="~/Arquivos/jquery-mask/jquery.mask.js"></script>
</head>
<body>
    @RenderBody()
    @{
        var mensagem = TempData["Mensagem"] ?? string.Empty;
        var tipo = TempData["Tipo"] ?? string.Empty;
        var titulo = TempData["Titulo"] ?? string.Empty;
    }
    <script>
    if ('@mensagem') {
        toastr.@tipo ('@mensagem', '@titulo', {
            "progressBar": true,
            "closeButton": true,
            "showMethod": "slideDown",
            "hideMethod": "slideUp",
            "timeOut": 5000
        });
    }
    </script>
    <script type="text/javascript" src="~/Arquivos/js/LeilaoScript.js"></script>
</body>
</html>
